<html>
{% load staticfiles%}
    <head>
        <title>To-Do App</title>
        <!--   <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static "css/todo.css" %}">
        <meta charset="utf8">
    </head>
    <body>
        <header>
            Aplicación de Notas
            <span class="usuario">Hola, {{ usuario }}</span>
        </header>
        <div class="wrapper">
            <form action="/create/" name="CreateNote" method="post">
                {% csrf_token %}
                <input class="text" type="text" placeholder="Ingese el contenido" id="note_content" name="note_content">
                <input class="btn" type="submit" value="Agregar">
            </form>
            {% for note in listado %}
                <div class="card">
                    <div class="content">{{note.note_content}}</div>
                    <a href="" class="btn-list edit"><img src="{% static "img/edit.png" %}" alt=""></a>
                    <a href="" class="btn-list delete"><img src="{% static "img/delete.png" %}" alt=""></a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>